.auth__main {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.auth__box-container {
  background-color: $medium-grey;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.35);
  max-width: 350px;
  padding: 20px;
  width: 75%;
}

.auth__title {
  color: $terciary;
  text-align: center;
  text-transform: uppercase;
}

form {
  margin-top: 25px;
  .auth__input {
    color: $primary;
    border: 0;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 15px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  button {
    margin-top: 10px;
  }
  a {
    color: $primary;
    display: inline-block;
    margin-top: 25px;
    position: relative;
  }
}

.auth__social-networks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
  .google-btn {
    margin-top: 5px;
  }
  & > p {
    color: white;
    font-size: 14px;
    margin: 10px 0 5px;
  }
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
}
