.auth__main {
  align-items: center;
  background-color: $primary;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.auth__box-container {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px $dark-grey;
  padding: 20px;
  witdh: 250px;
}
