// Colours

$primary: #3aa699;
$secondary: #4cb4d3;
$terciary: #d3a142;
$light-grey: #595f69;
$medium-grey: #494e59;
$dark-grey: #454953;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
